<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <div class="card mt-2 p-0" id="co2" #CO2_ELEMENT>
      <ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="small" color="#003c8f" type="square-jelly-box" [fullScreen]="false"
                   style="z-index: 1000"></ngx-spinner>
      <div class="card-header p-2 d-flex">
        <div class="w-75">Dióxido de carbono</div>

        <div class="w-25 d-flex justify-content-end align-items-center h-100">
          <div (click)="guardarImg(CO2_ELEMENT,'CO2')" class="pointer">
            <i class="far fa-image mr-3" ></i>
          </div>
        </div>
      </div>

     <div class="computer">
       <div class="d-flex justify-content-end computer" style="margin-right: 20px">
         <div class="border mt-3" style="padding: 8px">
           <div class="d-flex">
             <div style="width: 20px; height: 20px; background-color: #00b0ff; margin-left: 10px"></div>
             <div style="margin-left: 5px">Valor mínimo: <b>{{CO2minValue}}</b></div>
           </div>
           <div class="d-flex">
             <div style="width: 20px; height: 20px; background-color: #00c853; margin-left: 10px"></div>
             <div style="margin-left: 5px">Valor medio: <b>{{CO2midValue}}</b></div>
           </div>
           <div class="d-flex">
             <div style="width: 20px; height: 20px; background-color: #d50000; margin-left: 10px"></div>
             <div style="margin-left: 5px">Valor máximo: <b>{{CO2maxValue}}</b></div>
           </div>
         </div>
       </div>

       <div class="p-2 ">
         <canvas baseChart
                 [height]="200"
                 [datasets]="CO2barChartData"
                 [labels]="CO2barChartLabels"
                 [options]="CO2barChartOptions"
                 [legend]="barChartLegend"
                 [chartType]="chartType">
         </canvas>
       </div>
     </div>

      <div class="mobil">
        <div class="p-2 ">
          <canvas baseChart
                  [height]="320"
                  [datasets]="CO2barChartData"
                  [labels]="CO2barChartLabels"
                  [options]="CO2barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="chartType">
          </canvas>
        </div>

        <div class="d-flex justify-content-end mb-3" style="margin-right: 20px">
          <div class="border mt-3" style="padding: 8px">
            <div class="d-flex">
              <div style="width: 20px; height: 20px; background-color: #00b0ff; margin-left: 10px"></div>
              <div style="margin-left: 5px">Valor mínimo: <b>{{CO2minValue}}</b></div>
            </div>
            <div class="d-flex">
              <div style="width: 20px; height: 20px; background-color: #00c853; margin-left: 10px"></div>
              <div style="margin-left: 5px">Valor medio: <b>{{CO2midValue}}</b></div>
            </div>
            <div class="d-flex">
              <div style="width: 20px; height: 20px; background-color: #d50000; margin-left: 10px"></div>
              <div style="margin-left: 5px">Valor máximo: <b>{{CO2maxValue}}</b></div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="col-md-2"></div>
</div>

