.d3-chart {
  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: brown;
  }

  .axis--x path {
    display: none;
  }
}

.myCustomModalClass .modal-dialog {
  min-width: 900px;
}

.computer {
  display: contents;
}
.mobil {
  display: none;
}
@media (max-width: 600px) {
  .mobil {
    display: contents;
  }
  .computer {
    display: none;
  }
}
