#lateral-menu{
  width: 250px;
  min-height: 100vh;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#show-menu-mobil{

  top: 0; /* Position the navbar at the top of the page */
  position: fixed; /* Set the navbar to fixed position */
  width: 100vw;
  z-index: 99999;
  min-height: 100% !important;
}

.menu-item {
  font-size: 13px;
  padding: 10px;
  color: white;
}

.selectedMenu {
  background-color: #455a64;
}

.noSelectedMenu {
  background-color: transparent;
}

/* Change color of menu items on hover */
.menu-item:hover {
  // background-color: aqua;
  // color: black;
  font-weight: bold;
}

.container-content{
  min-height: 100% !important;
  background-color: red !important;
}

.margin-left-250{
  margin-left: 250px;
}

.mobil{
  display: none;
}

.navbar-fixed{
  top: 0; /* Position the navbar at the top of the page */
  position: fixed;
  z-index: 99999;
  background-color: white;
  width: 100%;
}

/* On screens that are 600px or less, set the background color to olive */
@media (max-width: 700px) {
  .computer {
    display: none;
  }

  .mobil {
    display: contents;
  }
}
